language: python
python:
- '3.4'
branches:
  except:
    - master
    - ci
env:
  matrix:
    - FORMAT=hst TF=M1
    - FORMAT=hst TF=M2
    - FORMAT=hst TF=M3
    - FORMAT=hst TF=M4
    - FORMAT=hst TF=M5
    - FORMAT=hst TF=M6
    - FORMAT=hst TF=M10
    - FORMAT=hst TF=M12
    - FORMAT=hst TF=M15
    - FORMAT=hst TF=M20
    - FORMAT=hst TF=M30
    - FORMAT=hst TF=H1
    - FORMAT=hst TF=H2
    - FORMAT=hst TF=H3
    - FORMAT=hst TF=H4
    - FORMAT=hst TF=H6
    - FORMAT=hst TF=H8
    - FORMAT=hst TF=H12
    - FORMAT=hst TF=D1
    - FORMAT=hst TF=W1
    - FORMAT=hst TF=MN1
    - FORMAT=fxt TF=M1
    - FORMAT=fxt TF=M5
    - FORMAT=fxt TF=M15
    - FORMAT=fxt TF=M30
    - FORMAT=fxt TF=H1
    - FORMAT=fxt TF=H4
    - FORMAT=fxt TF=D1
    - FORMAT=fxt TF=W1
    - FORMAT=fxt TF=MN1
addons:
  apt:
    packages:
    - realpath
    - pv
notifications:
  email: false
before_install:
- set -e
install: 
before_script:
- curl -o Makefile https://raw.githubusercontent.com/FX-Data/FX-Data-Test/master/Makefile
script:
- make $FORMAT
after_success: 
after_failure:
- sudo apt-get -qy install tree && tree -d -L 6
- env
after_script:
- pwd
deploy:
  provider: releases
  api_key:
    secure: "oYt8oaYzrQFqH/l5xuq9+0i/ArJfiqr+pVzVbPoeEHyFoPd2J/5yCiLZWByQgvGbdqUk4BeZzAwrrL8nlH7xtk9jQTMX1DSB+NOGBaIf5BDUbr3sZyCtOWiDbPeDg58weBSJ9idTWUVAbwQNTJcyhFA3Ck2aXXVCM2euQNF0Doa9hk8sVlOXZnw56T80mnwbAID5ILpRKn0crEAIMP7kkhkQ9NEhzWbuTGD/aQcpNlb9A6DdTTAWmfFY8nsxApywhlzXpLqP2a+c5Glm1tQx0uwUhiriOgn6Gx9bZmxHsIwnfGiAzfD98gZQhmHGQsqHVUpJNq15WueLv9sLS4VhBklNCDbJM+fSBmv9Krd6oaoKCa0ibV3lHNQ6Hx5n9nEwYzbKc8H89tTRp5FnSVq3w90ZHAEp/9o4yFywfVes7tPbjAP3iyMj6v79RZjo9xvmfDY1Nv/4ALxJlLLqX6l9RgaTPrSOPRzifX9rWh0z9BuXRPXfthovA86NmVzRY82wPWekhdpa+VuE+WRUCPNmX0nqlcpp8Gki3vjl+wWNYD4cN4WAEK1CnBfHWAvzESj+gmdzRjAdJ94JynR1G7FVL3PPdaboyukpGgzND5LaT0XwPk+F4r/FO7g9UyCUSXgl2DlynasXnkjlP4WjTeRU5TV1N/JXVS8bRK6zgXos8mw="
  file:
    - "*.hst.gz"
    - "*.fxt.gz"
  file_glob: true
  skip_cleanup: true
  overwrite: true
  on:
    repo: FX-Data/FX-Data-XXXYYY-DS
    tags: true
after_deploy:
- make clean
